---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
				<header class="post-header">
       	 <span class="post-meta">{{ post.date | date_to_long_string }}</span>
        	<h1 class="post-title">
          	<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        	</h1>
				</header>
				
				<div class="post-content">
					{{post.content}}
				</div>
    {% endfor %}
  </ul>

	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
  		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer &middot;</a>
		{% else %}
   		<span>&laquo; Newer &middot;</span>
		{% endif %}

  	{% if paginator.next_page %}
    	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
  	{% else %}
    	<span>Older &raquo;</span>
  	{% endif %}
	</div>
	{% endif %}

</div>
