section.card {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 14px;
}

p {
	line-height: 33px;
	font-size: 22px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.container {
	width: 320px;
}

body {
	background-repeat: repeat;
	background-image: url(whitey.png);
}
